body{
    background: #05030f;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: larger;
}


main{
    margin: auto;
    padding: 5%;
    width: 90%;
    height: 100%;
    background-color: burlywood;
    border-radius: 15px;
    color: blue;
}

button{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: #05030f 1px solid;
    box-shadow: 5px 5px 25px black;
    background-color: rgb(178, 124, 54);
    color: rgb(1, 9, 20);
    font-weight: 900;
    font-size: 20px;
}

#final{
    display: block;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.589);
    color: rgb(255, 0, 0);
}

@media (max-width: 600px) {
   main{
       margin-top: 10%;
   }
   button{
        margin-left: 30%;
   }

}
